@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-200;
  }
  body.dark {
    @apply bg-slate-950 text-slate-50;
  }
}

/* Custom scrollbar for styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.4);
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.6);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.4);
}
